<!--copied-->
<link rel="stylesheet" href="css/style.css">
<div class="jumbotron">
    <h1></h1>
    <p>
      userID: <%= userID %>
      taskID: <%= taskID %>
    </p>
  </div>

<body>
<div>
    <link rel="stylesheet" href="css/style.css">

    <form method="post" action="<%=task_url_b%>">
        task name: <input type="text" name="taskName" placeholder="<%=task_name%>" value="<%=task_name%>"><br>
        task description: <input type="text" name="taskDescription" placeholder="<%= task_description%>" value="<%= task_description%>" ><br>
        due date: <input type="text" name="taskDueDate" placeholder= "<%= task_due_date %>" value= "<%= task_due_date %>" ><br> 
        due time: <input type="number" name="taskDueTime" placeholder="<%= task_due_time%>" value="<%= task_due_time%>"><br> 
        weight: <input type="number" name="taskWeight" placeholder="<%= task_weight%>" value="<%= task_weight%>"><br> 
        taskpoints: <input type="number" name="taskPoints" placeholder="<%= task_points%>" value="<%= task_points%>"><br> 
        prize: <input type="text" name="taskPrize" placeholder="<%= task_prize%>" value="<%= task_prize%>"><br> 
        <% if ( task_direct_prize) { %>
        direct prize: 
        <label for="direct1">False</label>
        <input type="radio" id:"direct1" name="taskDirectPrize" value=false>
        <label for="direct2">True</label> 
        <input type="radio" id:"direct2" name="taskDirectPrize" value=true checked>
        <% } else { %>
          direct prize: 
        <label for="direct1">False</label>
        <input type="radio" id:"direct1" name="taskDirectPrize" value=false checked>
        <label for="direct2">True</label> 
        <input type="radio" id:"direct2" name="taskDirectPrize" value=true>
        <% } %>
        <br>
        <% if ( task_status_completed) { %>
        completion status: 
        <label for="complete1"">False</label>
        <input type="radio" id:"complete1" name="taskStatusCompleted" value=false>
        <label for="complete2">True</label>
        <input type="radio" id:"complete2" name="taskStatusCompleted" value=true checked>
        <% } else { %>
        <label for="complete1"">False</label>
        <input type="radio" id:"complete1" name="taskStatusCompleted" value=false checked>
        <label for="complete2">True</label>
        <input type="radio" id:"complete2" name="taskStatusCompleted" value=true>
        <% } %>
        <br>
        <input type="submit" value="Save Item">
    </form>
    
</div>
<div>
  <a class="btn btn-light" href="<%=task_delete_url%>" role="button">Delete</a>
</div>

</body>